.cartTitle {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.resume {
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    display: flex;
    gap: 60px;
}

.BlankFooter {
    height: 80px;
}

.finishOrderButton {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--orange-900);
    color: var(--black);
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;

    box-shadow: 3px 3px 6px #c7c7c7;
}

.backToHome {
    padding: 10px;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: var(--black);
}

.total {
    text-align: center;
    margin: 1rem auto;
}
